#blanket {
background-color:#111;
opacity: 0.0;
filter:alpha(opacity=0);
position:absolute;
z-index: 9001;
top:0px;
left:0px;
width:100%;
}

#transparent_blanket {
background-color:#111;
opacity: 0.0;
filter:alpha(opacity=0);
position:absolute;
z-index: 9001;
top:0px;
left:0px;
width:100%;
}

#popUpDiv {
position:absolute;
background-color:#eeeeee;
width:800px;
height:600px;
z-index: 9002;
}



#popUpMessageDiv {
position:absolute;
background-color:#eeeeee;
width: 800px;
height: 0px;
z-index: 9002;
margin: 0 0;

}
